:root {
  --main_background:rgba(235, 238, 240, 1);
  --second_background:rgb(255, 255, 255);
  --dark-acent_text: rgba(35, 38, 40, 1);
  --light-acent_text: rgb(255, 255, 255);
  --secondary_background:rgba(90, 95, 100, 1);
  --secondary-sections_cards: rgba(155, 160, 165, 1);
  --acent-buttons_markers: rgba(255, 90, 60, 1);
  --secondary-acent-warm:rgba(230, 210, 150, 1);
  --cards-shadow:rgb(227, 219, 197);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit; 
}

h2 {
  font-size: 50px;
}


 #banner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.banner-logo {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
  line-height: 0.8;
  color: var(--secondary-acent-warm);
  text-align: left;

}

.logo {
  position: relative;
  right: 60px;
  margin: 0 0 0 10px;
  font-size: 25px;
  line-height: 0.8;
  color: var(--secondary-acent-warm);
}

.banner-text {
  text-align: center;
  color: var(--dark-acent_text);
  padding-top: 180px;
}
.banner-text h1 {
  font-size: 130px;
}
.banner-text p {
  font-size: 20px;
}
.banner-btn {
  margin: 70px auto 0;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: var(--secondary-acent-warm);
  z-index: 2;
  transition: 0.5s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--light-acent_text);
}
#menuBtn {
  width: 50px;
  height: 50px;
  background: var(--secondary-acent-warm);
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}
#menuBtn img {
  width: 20px;
  margin-top: 15px;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
@media screen and (max-width: 770px) {
  .banner-text h1 {
    font-size: 44px;
  }
  .banner-btn a {
    display: block;
    margin: 20px auto;
  }
} 


/*--feature--*/

#feature {
  width: 100%;
  padding: 70px 0;
  background-color: var(--second_background);
}

.title-text {
  text-align: center;
  padding-bottom: 100px;
}
.title-text p {
  margin: auto;
  font-size: 20px;
  color: var(--acent-buttons_markers);
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
/* .title-text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#019587, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
} */
.title-text h1 {
  font-size: 50px;
}
.feature-box {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.features {
  flex-basis: 100%;
}
.features-img {
  flex-basis: 100%;
  margin: auto;
}
.features-img img {
  width: 100%;
  border-radius: 10px;
}
.features h1 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 100;
  color: var(--acent-buttons_markers);
}
.features-desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.feature-icon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: var(--acent-buttons_markers);
  /* border: 1px solid var(--acent-buttons_markers); */
  padding: 5px;
}
.feature-text p {
  padding: 0 20px;
  text-align: initial;
}
@media screen and (max-width: 770px) {
  .title-text h1 {
    font-size: 35px;
  }
  .features {
    flex-basis: 100%;
  }
  .features-img {
    flex-basis: 100%;
  }
  .features-img img {
    width: 100%;
  }
}

/*-----service------*/

#service {
  width: 100%;
  padding: 70px 0;
  background: var(--main_background);
}
.service-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

.single-service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single-service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.254), var(--secondary-acent-warm));
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay {
  opacity: 1;
}
.service-desc {
  width: 80%;
  position: absolute;
  bottom: 0%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service-desc p {
  font-size: 20px;
  color: var(--light-acent_text);
}

.single-service:hover .service-desc {
  bottom: 40%;
  opacity: 1;
}
@media screen and (max-width: 770px) {
  .single-service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service-desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single-service:hover .service-desc {
    bottom: 25% !important;
  }
}

/*-----testimonial------*/

#testimonial {
  width: 100%;
  padding: 70px 0;
  background: var(--second_background);
}

.testimonial-row {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.testimonial-col {
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  background: var(--second_background);
  box-shadow: 0 10px 20px 3px var(--cards-shadow);
  cursor: pointer;
  transition: transform .5s;
}

.testimonial-col p {
  font-size: 14px;
}

.user {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.user img {
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}

.user-info .fab{
  margin-left: 10px;
  color: #27c0ff;
  font-size: 20px;
}

.user-info small{
  color: var(--acent-buttons_markers);
}

.testimonial-col:hover{
  transform: translateY(-7px);
}

@media screen and (max-width: 770px) {
  .testimonial-col{
    flex-basis: 100%;
  }
}

/*---footer---*/

#footer{
  padding: 100px 0 20px;
  position: relative;
  background: var(--main_background);
}

.footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left, .footer-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right{
  text-align: right;
}

.footer-right a {
  display: block;
}

.footer-row h1{
  margin: 10px 0;
}

.footer-row p{
  line-height: 35px;
}

.footer-left .far, .footer-right .fas{
  font-size: 20px;
  color: var(--acent-buttons_markers);
  margin: 10px;
}

.footer-img{
  max-width: 370px;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.social-links{
  text-align: center;
}

.social-links .fab{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid var(--acent-buttons_markers);
  margin: 40px 5px 0;
  color: var(--acent-buttons_markers);
  cursor: pointer;
  transition: .5s;
}

.social-links .fab:hover{
  background: var(--acent-buttons_markers);
  color: #fff;
  transform: translateY(-7px);
}

.social-links p{
  font-size: 12px;
  margin-top: 20px;
}

@media screen and (max-width: 860px){
.footer-row{
  flex-direction: column;
}
}

@media screen and (max-width: 770px){
  .footer-left .far, .footer-right{
    flex-basis: 100%;
    font-size: 14px;
  }
  .footer-img{
    top: 25%;
  }
}